
{% extends "base.html" %}

{% block title %}asanoshin-line-bot{% endblock %}

{% block main %}

<!-- 宣告一個巨集 -->
{% macro easy_row(data, tag) -%}
{% for record in data %}
<div class="row">
  {% for item in record %}
  <div class="col-6">
  <{{ tag }}>{{ item }}</{{ tag }}>
  </div>
  {% endfor %}
  <!-- <button id = " " class="btn btn-danger">Delete</button> -->
</div>
{% endfor %}
{%- endmacro %}

<!-- 宣告一些等等會用來創造欄位說明的變數 -->
{% set col_names = (("line ID","看診號碼"),) %}


<!-- 修改號碼 -->
<div class="row">
  <!-- clinic 1 -->
  <div class="col">
    <h1>
        診間 1 現在看到 <b><h id="now_num">{{ clinic_info_1[0] }} </h></b>號
    </h1>
    <form name="form" id="form" method="POST">
    <!-- <form name="form" id="form" method="POST" action="{{url_for('submit')}}"> -->
      <div class="form-row">
        <div class="col-auto">
          <input id="edit_now_num" type="text" class="form-control mb-2" name="change_num" placeholder="可自訂看診號">
        </div>
        <div class="col-auto">
          <button id="submit_btn" onclick="return false" type="submit" class="btn btn-primary mb-2">送出</button>
        </div>
        <div class="col-auto">
            <button id="plus_btn" onclick="plusOne()" class="btn btn-primary mb-2">+1
        </div>
        <div class="col-auto">
            <button id="reset_btn_1" class="btn btn-danger mb-2 reset">重置
            <!-- <button id="reset_btn" onclick="resetNum()" class="btn btn-danger mb-2">重置 -->
        </div>
      </div>
    </form>
    <!-- 用巨集快速創造欄位名稱 -->
    {{ easy_row(col_names, "h2") }}

    <!-- 將所有token紀錄列在下面 -->
    {{ easy_row(id_list_1, "p") }}
  </div>
  <!-------------------------------- clinic 2 ---------------------------------------->
  <div class="col">
    <h1>
        診間 2 現在看到 <b><h id="now_num">{{ clinic_info_2[0] }} </h></b>號
    </h1>
    <div class="form-row">
      <div class="col-auto">
        <input id="edit_now_num" type="text" class="form-control mb-2" name="change_num2" placeholder="可自訂看診號">
      </div>
      <div class="col-auto">
        <form action="/function1" method="post">
          <button class="btn btn-primary mb-2" name="forwardBtn" type="submit">送出</button>
        </form>
      </div>
      <div class="col-auto">
        <form action="/function2" method="post">
          <button class="btn btn-primary mb-2" name="forwardBtn" type="submit">+1</button>
        </form>
      </div>
      <div class="col-auto">
        <form action="/function3" method="post">
          <button class="btn btn-danger mb-2" name="forwardBtn" type="submit">重置</button>
        </form>
      </div>
    </div>
    <!-- 用巨集快速創造欄位名稱 -->
    {{ easy_row(col_names, "h2") }}

    <!-- 將所有token紀錄列在下面 -->
    {{ easy_row(id_list_2, "p") }}
  </div>
</div>

<script>
  $(document).ready(function(){

    $("#submit_btn").click(function(){
      input_data = $("#edit_now_num").val()
        if( input_data=="" ){
            alert("此為必填");
            eval($("#edit_now_num").focus());       
        }else if( !isNaN(Number(input_data)) ){
          document.form.submit();
        }else{
          alert("請輸入數字");
          eval($("#edit_now_num").focus());       
 
        }
    });

    $('.reset').click(() =>{
        var reset = this;
        console.log(reset);
        var clinic_id = reset.id.split('_')[2];
        console.log(clinic_id);
        $.ajax({
            type: 'POST',
            url: '/reset/' + clinic_id,
            success: (res) => {
                console.log(res.response)
                location.reload();
            },
            error: () => {
                console.log('Error');
            }
        });
    });

  });
  function resetNum(){
    document.getElementById("edit_now_num").value = "0";
    document.form.submit();
  }
  function plusOne(){
    document.getElementById("edit_now_num").value = (parseInt( document.getElementById("now_num").textContent )+1).toString();
    document.form.submit();
  }
</script>
{% endblock %}