{% extends "base.html" %}

{% block title %}asanoshin-line-bot{% endblock %}

{% block main %}

<!-- 宣告一個巨集 -->
{% macro easy_row_1(data, tag) -%}
{% for record in data %}
<div class="row" id="{{ record[1] }}" clinic-index="1">
  {% for item in record %}
  <div class="col-6">
    <{{ tag }}>{{ item }}</{{ tag }}>
  </div>
  {% endfor %}
  <!-- <button id = " " class="btn btn-danger">Delete</button> -->
</div>
{% endfor %}
{%- endmacro %}


{% macro easy_row_2(data, tag) -%}
{% for record in data %}
<div class="row" id="{{ record[1] }}" clinic-index="2">
  {% for item in record %}
  <div class="col-6">
    <{{ tag }}>{{ item }}</{{ tag }}>
  </div>
  {% endfor %}
  <!-- <button id = " " class="btn btn-danger">Delete</button> -->
</div>
{% endfor %}
{%- endmacro %}

<!-- 宣告一些等等會用來創造欄位說明的變數 -->
{% set col_names = (("line ID","看診號碼"),) %}


<!-- 修改號碼 -->
<div class="row">
  <div class="col-6">
    <h1>
      診間 1 現在看到 <b>
        <h id="now_num_1" clinic-index="1">{{ clinic_info_1[0] }} </h>
      </b>號
    </h1>
    <input id="edit_now_num" clinic-index="1" type="text" class="m-2 col-md-4" name="change_num" placeholder="可自訂看診號">
    <button id="btn_submit_1" clinic-index="1" type="submit" class="btn btn-primary m-2">Submit</button>
    <button id="btn_plus_1" clinic-index="1" class="btn btn-primary m-2 col-sm-1">+1</button>
    <button id="btn_reset_1" clinic-index="1" class="btn btn-danger m-2 col-sm-1">重置</button>
    <!-- 用巨集快速創造欄位名稱 -->
    {{ easy_row_1(col_names, "h2") }}

    <!-- 將所有token紀錄列在下面 -->
    {{ easy_row_1(id_list_1, "p") }}
  </div>
  <!-------------------------------- clinic 2 ---------------------------------------->
  <div class="col-6">
    <h1>
      診間 2 現在看到 <b>
        <h id="now_num_2">{{ clinic_info_2[0] }} </h>
      </b>號
    </h1>
    <div class="form-row">
      <div class="col-auto">
        <input id="edit_now_num" type="text" class="form-control mb-2" name="change_num2" placeholder="可自訂看診號">
      </div>
      <div class="col-auto">
        <form action="/function1" method="post">
          <button class="btn btn-primary mb-2" name="forwardBtn" type="submit">送出</button>
        </form>
      </div>
      <div class="col-auto">
        <form action="/function2" method="post">
          <button class="btn btn-primary mb-2" name="forwardBtn" type="submit">+1</button>
        </form>
      </div>
      <div class="col-auto">
        <form action="/function3" method="post">
          <button class="btn btn-danger mb-2" name="forwardBtn" type="submit">重置</button>
        </form>
      </div>
    </div>
    <!-- 用巨集快速創造欄位名稱 -->
    {{ easy_row_2(col_names, "h2") }}

    <!-- 將所有token紀錄列在下面 -->
    {{ easy_row_2(id_list_2, "p") }}
  </div>
</div>

<script>
  $(document).ready(function () {

    $("#submit_btn").click(function () {
      input_data = $("#edit_now_num").val()
      if (input_data == "") {
        alert("此為必填");
        eval($("#edit_now_num").focus());
      } else if (!isNaN(Number(input_data))) {
        document.form.submit();
      } else {
        alert("請輸入數字");
        eval($("#edit_now_num").focus());

      }
    });
    
    $('#btn_reset_1').click(() => {
      $.ajax({
        type: 'POST',
        url: '/reset',
        data: JSON.stringify({"clinic_id": $('#now_num_1').attr('clinic-index') }),
        headers: {
          'Content-Type': 'application/json;charset=UTF-8',
        },
        dataType: 'json',
        success: ()=> {
          // Watch out for Cross Site Scripting security issues when setting dynamic content!
          $("#now_num_1").text("0");
        },
        error: ()=> {
          alert('something wrong!!!')
          $(this).html("error!");
        }
      });
    });

    $('#btn_submit_1').click(() => {
      var change_num = $('#edit_now_num').val()
      $.ajax({
        type: 'POST',
        url: '/submit2',
        data: JSON.stringify({
          "clinic_id": $('#btn_submit_1').attr('clinic-index'),
          "clinic_1_now_num": change_num
        }),
        headers: {
          'Content-Type': 'application/json;charset=UTF-8',
        },
        dataType: 'json',
        success: ()=> {
          // Watch out for Cross Site Scripting security issues when setting dynamic content!
          $("#now_num_1").text(change_num);
          $('#edit_now_num').val("");
          console.log($('[id="'+change_num+'"][clinic_index="1"]'));
          $('[id="'+change_num+'"][clinic_index="1"]').remove();
        },
        error: ()=> {
          alert('something wrong!!!')
          $(this).html("error!");
        }
      });
    });
  });
</script>
{% endblock %}